<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="landing.css">
    
<style>
    

    

</style>
    <body>
        <%- include('./common/header.ejs') %>
        <div>
        <h1>Welcome to CalorieCheck</h1><h1> To access the website, please login or register</h1>
        <h1><a href="/login">Login Here</a> OR <a href="/join">Register Here</a></h1>
        </div>
    </body>


</html>