

html, body {
    margin: 0;
    padding: 0;
    color: black;
  }
  .title{
    text-align: center;
  }
  .calc-outer-wrap {
    margin: 0 auto;
    width: 50%;
    background: #f3f3f3;
    padding: 0.625rem;
    font-size: 1rem;
    line-height: 1.3;
    border-radius: 0.5%;
    background-color: #AFECE7;
    color: black;
  }
  
  .form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
  }
  .field-outer {
    width: 300px;
    margin: 0 auto;
  }

  .submit-button {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    color: white;
    margin-left: 25%;

  }

  label,
  input{
    font-size: 1rem;
    line-height: 1.3;
    display: block;
  }


  input,
  select {
    height: 1.75rem;
    border: 1px solid #bbb;
    width: 100%;
    background: #fff;
    padding: 0 0.325rem;
    border-radius : --border-radius;
    transition: box-shadow 200ms ease-in-out;
    box-shadow: inset 0 0 0 0 --secondary;
    text-align: center;
  }

  select {
    width: auto
  }
  label {
    margin: 0 auto;
    margin-top: 5px ;

  }
  .field-items {
    display: flex;
    justify-content: space-between;

  }
  .field {
    display: inline-block;
    width: 32%;
  
  
  }
  .field-large {
    flex: 1;
    width: 67%;
  }
  .field-small {
    width: 3em;
  }
  .top-label {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.4;
    display: block;
  }

  #form-error {
    color: #fff;
    margin-bottom: 0.5rem;
    text-align:center;
    color: #c1000b;
    background-color: #ffd5d5;
    padding: 3px;
    font-size: 0.875rem;
  }
 .info-container {
  display: flex;
  justify-content: center;


 }
 .subtitle{
  text-decoration: underline;
  margin-top: 10px;
  text-align: center;

 }

 .info-div{
  float: left;
  width: 45%;
  margin: 10px;
  background-color: #AFECE7;
  border: solid 1px;
}

 .info-div h3{
  text-align: center;
 }
.radioP{
  font-style: italic;
  font-size: 10pt;
  margin-top: 10px;
  margin-bottom: 0;
}
 a:not([href]):not([class]) {
  &,
  &:hover {
      color: white;
    text-decoration: none;
  }
}

p {
  margin: 1%;
}